<?php
//    $leftTopTextBlock = Mage::getModel('cms/block')->load('popup_newsletter_left_top_text')->getContent();
//    $rightBottomTextBlock = Mage::getModel('cms/block')->load('popup_newsletter_right_bottom_text')->getContent();
?>
<a href="#popup_subscribe" class="popup_newsletter" style="position:absolute;top:0px;" id="popup_subscribe_trigger">subscribe</a>

<div id="popup_subscribe" class="mfp-hide" style="
<?php if(Mage::getStoreConfig("mr_newsletter/general/background_image")):?>
  background-image: url('<?php echo Mage::getBaseUrl('media') . 'newsletter_popup/' . Mage::getStoreConfig("mr_newsletter/general/background_image")?>');max-width:600px; height:400px"
<?php endif;?>>

    <div class="popup-newsletter-content">
      <h2>Welcom</h2>
      <p>join our mailing list and get the lastest updates!</p>
        <div id="popup-subscribe-form">
            <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="popup-newsletter">
                <div>
                    <div class="input-box">
                        <input type="text" name="firstname" id="popup_newsletter_firstname" class="input-text" placeholder="First Name"/>
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" id="popup_newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" placeholder="Email"/>
                    </div>
                    <div>
                        <label for="popup-newsletter-gender-male"><?php echo $this->__('Male') ?></label>
                        <input type="radio" id="popup-newsletter-gender-male" name="gender" title="" value="M">
                        <label for="popup-newsletter-gender-female"><?php echo $this->__('Female') ?></label>
                        <input type="radio" id="popup-newsletter-gender-female" name="gender" title="" value="F">
                    </div>
                    <div class="actions">
                        <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button" onclick="setNotShowPopupSubscribeCookie()"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
                    </div>
                    <!--<input type="image" src="<?php echo $this->getSkinUrl('images/popup-signup.png')?>" onclick="setNotShowPopupSubscribeCookie()" class="popup-signup-button"/>-->
                </div>
            </form>
        </div>
    </div>
    <div class="popup-newletter-right-bottom-text"><?php // echo $rightBottomTextBlock?></div>
    <script type="text/javascript">
    //<![CDATA[
        var popupNewsletterSubscriberFormDetail = new VarienForm('popup-newsletter');
    //]]>
    </script>
</div>

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function(){
      jQuery('#popup_subscribe_trigger').magnificPopup({
        midClick: true,
        type:'inline',
        callbacks: {
          close: function() {
            setNotShowPopupSubscribeCookie();
          }
        }

      });

       if(Mage.Cookies.get('notShowPopupSubscribe') != 1){
            jQuery("#popup_subscribe_trigger").trigger('click');
       }
    });

    function setNotShowPopupSubscribeCookie(){
        var date = new Date();
        date.setTime(date.getTime()+(365*24*60*60*1000*100));
        Mage.Cookies.set('notShowPopupSubscribe', 1, date);
    }
</script>
