.mfp-content #popup_subscribe{
  text-align: center;
  margin: 40px auto;
  position: relative;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mfp-content #popup_subscribe .popup-newsletter-content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
